$siteWidth: 1600px;
$textColorDifferent: #f16d7f;
$textColorDark: #222222;
$backgroundColor: #ffffff;
$backgroundColorShadow: #e6e6e6;
$featureTextColor: #fbfbfb;
$footerTextColor: #898989;

$color2: #a4a4a4;
$fontWeightTitle: 900;